.logo {
  color: #ffffff;
  height: 6rem;
  width: 6rem;
}

.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.menuBtn {
  height: 40px;
  width: 40px;
}

header {
  position: relative;
}

.menuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  gap: 20px;
  left: 0;
  right: 0;
  top: -100%;
  pointer-events: none;
  padding: 2rem 1rem;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.menuWrapper a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
}

.menuWrapper a:hover {
  color: #336cfb;
}

.displayMenu {
  opacity: 1;
  top: initial;
  pointer-events: all;
}

.dropdown {
  position: relative;
}

.dropdownNav {
  margin-bottom: -6px;
}

.arrowDown {
  margin-bottom: -3px;
}

.dropdownBtn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background: none;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #ffffff;
  -webkit-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
}

.dropdownBtn:hover {
  color: #336cfb;
}

.dropdownMenu {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  background-color: #353d66;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

.authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 600px) {
  .menuWrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .menuBtn {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuWrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 922px) {
  nav {
    padding: 0 2rem;
  }
  .authentication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 0 6rem;
  }
  .menuWrapper {
    gap: 30px;
  }
  .authentication {
    margin-left: 50px;
  }
}
/*# sourceMappingURL=navbar.module.css.map */