@import "../../../../../styles/general.module.styles.scss";

.partnersWrapper {
  display: flex;
  justify-content: center;
  
  padding: 3rem 1rem;
}
.partners {
  margin-top: 50px;
  text-align: center;
  max-width: 700px;

  h1 {
    color: $very-dark-blue-s1;
  }
  p {
    color: $secondary4;
    margin: 20px auto;
  }
}

.logoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 650px) {
  .partnersWrapper {
    padding: 6rem;
  }
}
