@import "../../../../../styles/general.module.styles.scss";

.servicesSection {
  border: 2px solid red;
  padding: 1rem;
  text-align: center;

  h5 {
    font-weight: 600;
    font-size: 11px;
    color: $primary-blue-light;
    margin-bottom: 1rem;
  }

  h6 {
    font-weight: 600;
    font-size: 14px;
    color: $very-dark-blue-s1;
  }
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid green;
}

.card {
  border: 2px solid yellow;
  max-width: 250px;
  .image {
    img {
      width: 100%;
    }
  }

  div {
    margin-top: 10px;
    span {
      font-weight: 600;
      color: $very-dark-blue-s1;
    }
    p {
      color: $secondary4;
      margin-top: 10px;
    }
  }
}

@media screen and(min-width:650px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and(min-width:900px) {
  .servicesSection {
    padding: 0 6rem;
  }

  .container {
    justify-content: space-between;
  }
}
